# API locale: archivio DuckDB verificato.
ITADB_DATA_DIR=data
ITADB_SERVING_DIR=./data/serving
ITADB_DUCKDB_MEMORY_MB=256
ITADB_DUCKDB_THREADS=2
ITADB_SERVING_CONCURRENCY=4
ITADB_SERVING_TIMEOUT_SECONDS=5
ITADB_CORS_ORIGINS=["http://localhost:5173"]
